php_value memory_limit 4000M
php_value post_max_size 3000M
php_value upload_max_filesize 2000M

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_URI} /static/.*
    RewriteRule static/(.*) public/static/$1 [QSA,L]

    RewriteCond %{REQUEST_URI} /robots.txt
    RewriteRule robots.txt public/robots.txt [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]

</IfModule>